DATABASE_URL="postgresql://user:pass@localhost:5432/crystalball"
NEXT_PUBLIC_BASE_URL="https://www.plebeiantribunalsa.co.za/regenisis-master/crystal-ball"
ORACLE_JWT_SECRET="your-64-char-secret-here-2026-regenesis"
MASTER_FCAT_HASH="4f53cda18c2baa0c0354bb5f9a3ecbe5ed12ab4d8e11ba873c2f11161202b945"